.titulo{
    font-size: 50px;
    color:black;  
    
}
.texto{
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
body
{
    background-image: url("normal.jpg");
    
}
.imagen
{
    text-align: center;
}
.info
{
    text-align: center;
    font-size: 20px;
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 7px;
}
.texto2
{
    font-size: 25px;
    text-align: center;
}
